<div class="super-form">
  <%= simple_form_for(@compilation) do |f| %>
    <%= f.input :name %>
    <%= f.input :description, as: :text %>
    <%= f.input :public, as: :boolean %>
    <%= f.input :photos, as: :file, input_html: { multiple: true, accept:'image/*' } %>
    <%= f.submit "Create Collection", class: "super-button" %>
  <% end %>
</div>
