<div class="c-50">
  <%= form_with url: compilations_path, method: :get, class: "d-flex container-vertical" do %>
    <%= text_field_tag :query,
          params[:query],
          class: "form-control mr-12",
          placeholder: "Search collections"
      %>
    <%= submit_tag "Search", name: "", class: "super-button" %>
  <% end %>
</div>
<div class="container-vertical">
  <div class="cards-collection c-50">
    <% @compilations.each do |compilation| %>
      <%= link_to compilation_path(compilation) do %>
        <% if compilation.items.count.positive? %>
          <% image = compilation.items.last.photo.url %>
        <% else %>
          <% image = 'http://res.cloudinary.com/dhs2x2lmi/image/upload/v1/development/uia1q3kadakall0js4xw.png' %>
        <% end %>
        <div class="card-collection" style="background-image: url(<%= image %>)">
          <h3><%= compilation.name %></h3>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
