<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: advancedsearch_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search a collection"
        %>
      <%= submit_tag "Search", name: "", class: "super-button" %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="collections">
        <% if @compilations.count.positive? %>
          <% @compilations.each do |collection| %>
            <h4>"name"<%= collection.name %></h4>
            <p>"desc"<%= collection.description %></p>
            <p>"use"<%= collection.user.username %></p>
            <% collection.items.each do |item| %>
              "name item"<%= item.name %>
              "desc item"<%= item.description %>
              "owne item"<%= item.owned %>
            <% end %>
          <% end %>
        <% else %>
          <em>Sorry, no collections found.</em>
        <% end %>
      </div>
    </div>
  </div>
</div>
