<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: advancedsearch_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search a collection"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="col-sm-8 my-3">


<% if @compilations.count.positive? %>
  <%= render "list_collections", compilation: @compilations %>
<% else %>
  <% if user_signed_in? %>
    <%= render "form", compilation: @compilation = Compilation.new %>
  <% else %>
    <%= render "list_collections", compilation: @compilations %>
  <% end %>
<% end %>
