<ul>
  <li><%= @compilation.name %></li>
  <li><%= @compilation.description %></li>
  <li><%= @compilation.public %></li>
  <%= link_to "Edit collection", edit_compilation_path(@compilation) %>
</ul>

<!-- Button trigger modal -->
<% @compilation.items.each do |item| %>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#<%= item.id %>">
    <%= cl_image_tag(item.photo.key,width: 400, height: 300, crop: :fill) %>
  </button>
  <div class="modal fade" id="<%= item.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-content">
          <%= cl_image_tag(item.photo.key,width: 700, height: 1000, crop: :fill) %>
          <%= item.description %>
          <%= item.name %>
          
          
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Modal -->


