
<div class="super-container-flex">
  <h3><%= @compilation.name %> </h3><span>public: <%= @compilation.public %>
      
  </span>
  <%= form_with url: compilation_path, method: :get, class: "d-flex sizesearch" do %>
          <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search a collection"
          %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
          <% end %>
</div>
<div class="super-container-flex">
  <h6>owner: <%= @compilation.user.username %></h6>
  <p><%= @compilation.description %></p>
</div>

<% if current_user == @compilation.user %>
    <div class="d-flex justify-content-start">
    <%= link_to "Edit collection", edit_compilation_path(@compilation), class: "super-button" %>
    <%= link_to "Delete", "#{compilations_path}/#{@compilation.id}", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "super-button" %>
  </div>
<% end %>

<% if @compilation.items.count.positive? %>
  <%= render "list_items", compilation: @items %>
<% else %>
  <% image = 'http://res.cloudinary.com/dhs2x2lmi/image/upload/v1/development/uia1q3kadakall0js4xw.png' %>
  <div class="card-item maxwidth-400" style="background-image: url(<%= image %>)">
  </div>
<% end %>
