
<div class="posts" class=>
  <% @items.each do |item|%>
    <div class="card_post ">
      <div class="feedmage">
        <%= link_to compilations_path(user_id: item.compilation.user.id) do %>
          <div class="super-flex">
            <%= image_tag item.compilation.user.photo, class: "avatar" %>
            <div class="feedtaille">
              <%= item.compilation.user.username %>
            </div>
          </div>
        <% end %>
        <button type="button" class="btn super-button btn-right">follow</button>
      </div>
        <div class="write maxwidth-400">
          <p><%= item.name %></p>
          <p><%= item.description %></p>
        </div>
      <a href= <%= compilation_path(item.compilation) %> >
        <% unless item.photo.key.nil? %>
          <div class="figmage-container" style="background-image: url('<%= cl_image_path item.photo.key, class: "figmage" %>')"></div>
        <% end %>
      </a>
        <div class="oklike btn-right">
          <%= link_to compilations_path(user_id: item.compilation.user.id) do %>
          <i class="fa-solid fa-thumbs-up"></i>
          <% end %>
        </div>
        <div class="okload">
          <%= link_to compilations_path(user_id: item.compilation.user.id) do %>
          <i class="fa-solid fa-download"></i>
          <% end %>
        </div>
        <div class="okshare">
          <%= link_to compilations_path(user_id: item.compilation.user.id) do %>
          <i class="fa-regular fa-share-from-square"></i>
          <% end %>
        </div>
    </div>
  <% end %>
</div>
