
<div class="posts" class=>
  <% @items.each do |item|%>
    <div class="card_post ">
      <div class="feedmage">
        <%= link_to compilations_path(user_id: item.compilation.user.id) do %>
          <%= image_tag item.compilation.user.photo, class: "avatar" %>
        <% end %>
        <div class="feedtaille">
          <%= item.compilation.user.username %>
        </div>
        <button type="button" class="btn super-button btn-right">follow</button>
      </div>
        <div class="write">
          <%= item.name %>
          <%= item.description %>
          <%= item.year %>
          <%= item.owned %>
        </div>
      <a href= <%= compilation_path(item.compilation) %> >
        <div class="figmage-container" style="background-image: url('<%= cl_image_path item.photo.key, class: "figmage" %>')"></div>
      </a>
        <div class="oklike btn-right">
        <%= link_to compilations_path(user_id: item.compilation.user.id) do %>
          <i class="fa-solid fa-thumbs-up" style="color: #ffffff;"></i>
          <% end %>
        </div>
        <div class="okload">
          <i class="fa-solid fa-download"></i>
        </div>
    </div>
  <% end %>
</div>
