<div class="posts container-fluid">
<% @items.each do |item|%>
    <div class="card_post content">
      <div class="feedmage">
        <%= link_to compilations_path(user_id: item.compilation.user.id) do %>
          <div class="super-flex">
            <%= image_tag item.compilation.user.photo, class: "avatar" %>
            <div class="feedtaille">
              <%= item.compilation.user.username %>
            </div>
          </div>
        <% end %>
        <% if user_signed_in? %>
          <%= render partial: "followers/followers" , locals: { item: item } %>
        <% end %>
      </div>
      <div class="write">
        <%= item.name %>
        <%= item.description %>
        <%= item.year %>
      </div>
      <div>
        <div class="imgbck">
          <%= link_to compilation_path(item.compilation) do %>
            <div class="figmage-container" style="background-image: url('<%= cl_image_path item.photo.key, class: "figmage" %>')"></div>
          <% end %>
        </div>
        <div class="boutonactivityfeed container">
          <!-- modal -->
          <div class="boutoncomment">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#commentModal<%= item.id %>">
              <i class="fa-regular fa-message"></i>
            </button>
            <div>
              <%= item.comments.count %>
            </div>
          </div>

          <div class="boutonlike">
            <%= render partial: "likes/likes" , locals: { item: item } %>
          </div>
        </div>
      </div>

      <div class="modal fade" id="commentModal<%= item.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Comment</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= render partial: "comments/form", locals: { item: item } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
