<!DOCTYPE html>
<html>
  <head>
    <title>Collection - app to manage your collections online and share them with the world</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('logo.png') %>
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">

    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="section">
      <%= yield %>
    </div>
    <%= render "shared/flashes" %>

    <%= render "layouts/footer" %>
  </body>
</html>
